FEATURES {
    STARTADDRESS: default = $A000;
}
SYMBOLS {
    __EXEHDR__:          type = import;
    __SYSTEM_CHECK__:    type = import;  # force inclusion of "system check" load chunk
    __AUTOSTART__:       type = import;  # force inclusion of autostart "trailer"
    __STACKSIZE__:       type = weak, value = $0800; # 2k stack
    __STARTADDRESS__:    type = export, value = %S;
    __RESERVED_MEMORY__: type = weak, value = $0000;
}
MEMORY {
    ZP:            file = "", define = yes, start = $0082, size = $007E;

# file header, just $FFFF
    HEADER:        file = %O,               start = $0000, size = $0002;
	
# Disable Basic
	DISBASHDR:       file = %O,               	start = $0000, size = $0004;
	DISBASIC:      file = %O,               	start = $0400, size = $0048;
	
# Disable Basic INIT	
    	DISBASINITHDR:     	file = %O,              start = $0000, size = $0004;
	DISBASINIT: 		file = %O, 				start = $02E2, size = $0002;
	

# "system check" load chunk
    SYSCHKHDR:     file = %O,               start = $0000, size = $0004;
    SYSCHKCHNK:    file = %O,               start = $2E00, size = $0300;
    SYSCHKTRL:     file = %O,               start = $0000, size = $0006;

# "main program" load chunk
    FSTHDR:       file = %O,               start = $0000, size = $0004;
    RAM:           file = %O, define = yes, start = %S,    size = $BC20 - __STACKSIZE__ - __RESERVED_MEMORY__ - %S;

# DISCARD is set to page 6 for now, because we don't care if that is written to but then again since it goes to file="" it shouldn't matter where it goes
	DISCARD: 	start = $0600, size = $0006, file = ""; 	

	
    TRAILER:       file = %O,               start = $0000, size = $0006;


}
SEGMENTS {
    EXEHDR:    load = HEADER,     type = ro;
    SYSCHKHDR: load = SYSCHKHDR,  type = ro,                optional = yes;
    SYSCHK:    load = SYSCHKCHNK, type = rw,  define = yes, optional = yes;
    SYSCHKTRL: load = SYSCHKTRL,  type = ro,                optional = yes;
    MAINHDR:   load = DISCARD,    type = ro;
	
    NEXEHDR:   load = FSTHDR, type = ro;                  # first load chunk
    INIT:      load = RAM,        type = ro,                optional = yes;
    CODE:      load = RAM,        type = ro,  define = yes;
    RODATA:    load = RAM,        type = ro;
    DATA:      load = RAM,        type = rw;
    BSS:       load = RAM,        type = bss, define = yes;
    ZEROPAGE:  load = ZP,         type = zp;
    EXTZP:     load = ZP,         type = zp,                optional = yes;
	
    DISBASHDR:	load = DISBASHDR, type = ro;    #Splash load chunk
    DISBASIC:	load = DISBASIC, type = rw, define = yes;	    #Splash Data	
    DISBASINITHDR:  load = DISBASINITHDR, type = ro;               # five load chunk
    DISBASINIT: load = DISBASINIT, type = rw,	define=yes;		#splash init

    AUTOSTRT:  load = TRAILER,    type = ro;
}
	
FEATURES {
    CONDES: type    = constructor,
            label   = __CONSTRUCTOR_TABLE__,
            count   = __CONSTRUCTOR_COUNT__,
            segment = INIT;
    CONDES: type    = destructor,
            label   = __DESTRUCTOR_TABLE__,
            count   = __DESTRUCTOR_COUNT__,
            segment = RODATA;
    CONDES: type    = interruptor,
            label   = __INTERRUPTOR_TABLE__,
            count   = __INTERRUPTOR_COUNT__,
            segment = RODATA,
            import  = __CALLI;
}